sudo: false

language: python
python:
  - "2.6"
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
  - "pypy"
  - "pypy3"
  - "nightly"

install:
  - pip install .
  - pip install pytest
  - pip install pytest-cov
  - pip install coveralls
  - pip install flake8

before_script:
  - "flake8 pycounter"

script:
  pytest --cov=marcholdings marcholdings/test

after_success:
  coveralls

notifications:
  irc: "chat.freenode.net#pycounter"
